header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: #e6bb8b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 200px;
}

.table {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}


.reservations {
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 4px solid #d4a572; /* Subtle border */
    overflow: hidden; /* Prevents shadow from overflowing */
    text-align: center;
    font-size: 17px;
    width: 40%; /* Width of the element */
   
}

.logo{
    margin-top: -10px;
}