<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumpton Hotel - Welcome</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/activity.css">

</head>

<body>
    <header>
        <div class="container">
            <h1></h1>
            <nav>
                <ul>
                    <li><a href="#about">About Us</a></li>
                    <li> <a href="{{ url_for('activity') }}">Activities</a></li>
                    <li> <a href="{{ url_for('activity') }}">Restaurants</a></li>
                 </ul>
            </nav>
        </div>
    </header>


    <div class="unveil">
        Unveil the Extraordinary
    </div>
    
    <div class="explore">
        Explore fulfilling activities at Scrumpton Hotel.
    </div>
    

    <div class="restaurant-box">
        <div class="restaurant-content">
            <img src="static/images/restaurant.webp" alt="Restaurant" class="restaurant-image">
            <div class="restaurant-info">
                <h2>Gourmet Dining Experience</h2>
                <p>Savor delicious dishes at our Gourmet Restaurant, where<br> top chefs create a menu that mixes classic 
                    favorites with<br>modern flavors. Don’t miss our gallery of top food picks<br> below, showcasing some of the standout dishes you can enjoy.</p>
            </div>
        </div>
    



    
        <div class="gallery">
            <img src="static/images/gallery1.webp" alt="Gallery Image 1" class="gallery-image">
            <img src="static/images/gallery2.webp" alt="Gallery Image 2" class="gallery-image">
            <img src="static/images/gallery3.webp" alt="Gallery Image 3" class="gallery-image">
            <img src="static/images/gallery4.webp" alt="Gallery Image 4" class="gallery-image">
        </div>
    </div>



    <div class="pool-box">
        <div class="pool-content">
            <img src="static/images/pool.webp" alt="Pool" class="pool-image">
            <div class="pool-info">
                <h2> Elegant Poolside</h2>
                <p> Immerse yourself in luxury with two of our pools, <br>where pristine waters and elegant surroundings <br>create a perfect
                    retreat. Whether you're seeking serene relaxation or a refreshing swim, our pools offer an unparalleled experience
                    of tranquility <br> and sophistication.</p>
            </div>
            <img src="static/images/pool2.webp" alt="Pool2" class="pool-image2">
        </div>
    </div>
    

    <div class="circus-box">
        <div class="circus-content">
            <img src="static/images/circus.webp" alt="Circus" class="circus-image">
            <div class="circus-info">
                <h2>Grand Circus</h2>
                <p>Step into a world of wonder with our spectacular <br> circus performances. Experience
                    dazzling acts,<br> breathtaking feats, and enchanting entertainment <br> that will captivate and thrill guests of all ages.</p>
            </div>
        </div>
    </div>


    <footer>
        <div class="container">
            <p>&copy; 2024 Scrumpton Hotel. All rights reserved.</p>
            <div class="social-media">
                <a href="https://facebook.com" target="_blank" class="social-icon facebook">Facebook</a>
                <a href="https://twitter.com" target="_blank" class="social-icon twitter">Twitter</a>
                <a href="https://instagram.com" target="_blank" class="social-icon instagram">Instagram</a>
                <a href="https://linkedin.com" target="_blank" class="social-icon linkedin">LinkedIn</a>
            </div>
        </div>
    </footer>

    
    <script src="static/scripts.js"></script>
</body>

</html>