<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumpton Hotel - Welcome</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/calendar_payment.css">
</head>

<body>
    <header>
        <div class="container">
            <a href="{{ url_for('logo_home') }}">
                <img class="logo" src="static/images/ScrumptonLogo.png">
            </a>
            <nav>
                <ul>

                    <li><a href="#about">About Us</a></li>
                    <li> <a href="{{ url_for('activity') }}">Activities</a></li>
                    <li> <a href="{{ url_for('activity') }}">Restaurants</a></li>

                </ul>
            </nav>
        </div>
        <h1>ROOM Reservation</h1>
    </header>
    <div class="calendar">
        <form class="c_form" action="/process_dates" method="post">
            <label for="check-in-date">Check-in Date:</label> <br>
            <input type="date" id="check-in-date" name="check_in" min="2024-07-25" max="2026-05-01" required>
            <br>
            <label for="check-out-date">Check-out Date:</label><br>
            <input type="date" id="check-out-date" name="check_out" min="2024-07-25" max="2026-05-01" required>
            <br>
            <div class="radio"> Select Room Size
                <br> <br>
                <input type="radio" id="small_rm" name="radio" value="small" required>
                <label for="small">SMALL: 1 Queen,1 bathroom,  $300/Night</label><br><br>
                <input type="radio" id="medium_rm" name="radio" value="medium">
                <label for="medium">MEDIUM: 1 King, 1 bathroom,  $500/Night </label><br><br>
                <input type="radio" id="large_rm" name="radio" value="large">
                <label for="large">LARGE: 2 Queens, 2 bathrooms,  $700/Night</label>

            </div>
            <br>
            <label for="quantity">Number of guests 1-5:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5" required>
            <br>
            <button type="submit">Submit</button>
            {% if message %}
            <div class="signup_message" id="signup_message">
                {{ message }}
            </div>
            <script>
                // Wait for the page to load
                document.addEventListener('DOMContentLoaded', function () {
                    var signupMessage = document.getElementById('signup_message');
                    signupMessage.style.opacity = '1'; // Show the message

                    // Automatically hide the message after 1 second
                    setTimeout(function () {
                        signupMessage.style.opacity = '0';
                    }, 5000); // Adjust timing as needed (1000ms = 1 second)
                });
            </script>
            {% endif %}
        </form>
        <div class="image-container" id="image-small">
            <img src="static/images/SmallRoom.png"
                alt="Small Room Image">
        </div>
        <div class="image-container" id="image-medium">
            <img src="static/images/MediumRoom.png" alt="Medium Room Image">
        </div>
        <div class="image-container" id="image-large">
            <img src="static/images/LargeRoom.png"
                alt="Large Room Image">
        </div>
    </div>


</body>


{% if not pay_hidden %}
<div class="payment-wrapper">


    <div class="payment-form">
        <h2>Reservation details <br> Confirmation </h2>
        {{email}} <br><br>
        Check in: {{check_in}} <br><br>
        Check out: {{check_out}} <br><br>
        {{size}} Room<br><br>
        {{guests}} Guests<br><br>
        Total cost: ${{total}} <br>
        Price per night: ${{per_night}}
    </div>
    <div class="payment-form" id="payment-form">
        <h2>Payment Details</h2>
        <form action="process_payment.php" method="post">
            <label for="card-number">Card Number:</label>
            <input type="text" id="card-number" name="card-number" maxlength="16" pattern="[0-9]{16}"
                title="Please enter exactly 16 digits" required>
            <label for="expiry-date">Expiry Date:</label>
            <input type="text" id="expiry-date" name="expiry-date" maxlength="4" placeholder="MMYY" pattern="[0-9]{4}" required>
            <label for="cvv">CVV:</label>
            <input type="text" id="cvv" name="cvv" maxlength="3" pattern="[0-9]{3}" title="3 Digits" required>
            <button type="submit">Submit Payment</button>
        </form> <br>
    </div>
</div>
{% endif %}


<footer>
    <div class="container">
        <p>&copy; 2024 Scrumpton Hotel. All rights reserved.</p>

</footer>
<script src="static/calendar_scripts.js"></script>
</body>

</html>