<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumpton Hotel - Welcome</title>
</head>

<Body>
    <form action="/">
        <button>Home Page</button>
    </form>
    <h1 style="font-size: 30px;">Manager Portal </h1>
    <h1 style="font-size: 15px;"> All Guest Reservations</h1>
   
    <form action="/delete_reservation" method="post">
        <br>
            <label for="delete_reservation">Enter Room ID to <br> delete reservation</label><br>
            <input type="text"  name="delete_reservation" >
            <br>
        <button id="reservations_page_id" class="reservations_page_bt">Submit </button> 
    </form>
    
    <br>
    <div class="table">
        <table border="1">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Room Size</th>
                    <th>Number of Guests</th>
                    <th>Check-in Date</th>
                    <th>Check-out Date</th>
                    <th>Guest Email</th>
                    <th>Total Payment</th>
                    <th>Room ID</th>
                </tr>
            </thead>
            <tbody>
                {% for row in reservations %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</Body>
</html>