<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumpton Hotel - Welcome</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/reservations.css">

</head>

<body>
    <header>
        <div class="container">
            <h1></h1>
            <nav>
                <ul>
                    <li><a href="#about">About Us</a></li>

                    <li> <a href="{{ url_for('activity') }}">Activities</a></li>
                    <li> <a href="{{ url_for('activity') }}">Restaurants</a></li>
                     
            </nav>
        </div>
        <form action="/">
            <button id="home_page" class="home_page_bt"> HOME PAGE</button>
        </form>
        <h1>Reservations</h1>
    </header>
    
    <div class="table">
    {% for row in reservations %}
            <div class="reservations">
                {% for item in row %}
                   {{ item }}<br> <br>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    
    

    <form action="/calendar_payment">
        <button id="calendar_payment" class="calendar"> MAKE ANOTHER RESERVATION</button>
    </form>
    
    
    
    
    
    
    
    
    
     <footer>
        <div class="container">
            <p>&copy; 2024 Scrumpton Hotel. All rights reserved.</p>
            <div class="social-media">
                <a href="https://facebook.com" target="_blank" class="social-icon facebook">Facebook</a>
                <a href="https://twitter.com" target="_blank" class="social-icon twitter">Twitter</a>
                <a href="https://instagram.com" target="_blank" class="social-icon instagram">Instagram</a>
                <a href="https://linkedin.com" target="_blank" class="social-icon linkedin">LinkedIn</a>
            </div>
        </div>
    </footer>
</body>

</html>